extends: "eslint:recommended"

parser: babel-eslint
plugins:
  - babel
  - react

env:
  es6: true
  node: true
  browser: true

ecmaFeatures:
  modules: true
  jsx: true

rules:
  semi:
    - 2
    - always

  array-bracket-spacing:
    - 2
    - always
    - singleValue: true
      objectsInArrays: true
      arraysInArrays: true

  block-spacing:
    - 2
    - always

  indent:
    - 2
    - 4
    - SwitchCase: 1

  jsx-quotes:
    - 2
    - prefer-double

  react/jsx-no-undef: 1
  react/jsx-uses-react: 1
  react/jsx-uses-vars: 1
  react/no-did-mount-set-state: 1
  react/no-did-update-set-state: 1
  react/no-unknown-property: 1
  react/react-in-jsx-scope: 1
  react/self-closing-comp: 1
